<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Mini Wallet</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <div class="container-fluid">
        <div class="row" style="margin-top:10%;">
            <div class="col-4"></div>
            <div class="col-4">
                <form id="addform">
                  <div class="form-group">
                    <label>Amount</label>
                    <input type="text" class="form-control" name="amount" placeholder="Enter amount" required>
                    <small id="error_amount" class="form-text text-danger"></small>
                  </div>
                  <div class="form-group">
                    <label>Reference_id</label>
                    <input type="text" class="form-control" name="ref_id" placeholder="Enter Reference id" required>
                    <small id="error_ref_id" class="form-text text-danger"></small>
                  </div>
                    <input type="text" class="form-control" name="ref_id" placeholder="Enter amount" hidden="hidden">
                  <button type="submit" class="btn btn-primary btn-block">Add to wallet</button>
                </form>
            </div>
            <div class="col-4"></div>

        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
       $( document ).ready(function() {
            $("#error_amount").hide();
            $("#error_ref_id").hide();
           $('#addform').on('submit', function(e){
            // validation code here

              e.preventDefault();
              var $inputs = $("#addform").serializeArray();
              var $amount = parseFloat($inputs[0]['value']);
              if ($.isNumeric($amount)){
                if($amount <= 0){
                    $("#error_amount").text( "amount should be greater than 0");
                    $("#error_amount").show()
                }else{
                    $("#error_amount").hide();
                    $("#error_ref_id").hide();
                    $.ajax({
                      method: "POST",
                      url: "{% url 'api_wallet_deposit' %}",
                      data: { amount: $amount  , reference_id: $inputs[1]['value'] },
                      beforeSend: function (xhr) {
                        xhr.setRequestHeader('Authorization', '{{auth_token}}');
                      },
                      success: function (obj) {
                        if (obj['status'] == 'failed'){
                            $.each( obj['errors'], function( key, value ) {
                              if( key == 'reference_id'){
                                 $("#error_ref_id").text(value);
                                 $("#error_ref_id").show()
                              }
                            });
                        }
                        else{
                            $("#error_amount").hide();
                            $("#error_ref_id").hide();
                            alert("amount is successfully added to your wallet");
                        }

                       },
                  });
                }

              }
              else{
                $("#error_amount").text( "enter a valid amount");
                $("#error_amount").show()
              }


          });
        });


    </script>

  </body>
</html>